
.manut_all{
    height: auto;
    width: 99%;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px #ffff00;
}

.txt_manut{
    margin: 40px;
    color: white;
    font-family: "grafiti";
    text-shadow: 0px 0px 7px rgb(255, 196, 0);
    text-align: center;

}